*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: rgb(246, 244, 194); */
}

h1{
    text-align: center;
    background-color: rgb(215, 240, 186);
    padding: 10px;
    color: rgb(1, 1, 1);
}
h1+h2{
    text-align:center ;
    padding-left: 20px;
    margin-bottom: 20px;
    
}
hr{
    /* width: 60%;
    margin: auto; */
    background-color: blue;
}
button{
    padding: 8px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 7px;
    border-color: rgb(215, 240, 186);
   
}
button:hover{
    cursor: pointer;
}
#main_div{
    width: 80%;
    margin: auto;
}
li + li {
    margin-top: 10px;
  }
  .answer_div{
    border: 2px solid black;
    border-radius: 8px;
    padding: 30px;
  }